.max-w-prose {
    max-width: 75ch;
}

/*.lg\:max-w-xs {
    max-width: 2rem
}*/


.ltr\:-ml-5:where([dir=ltr],[dir=ltr] *) {
    margin-left: 0rem;
    /* margin-left: -1.25rem; disable */ 
}

.ltr\:lg\:pl-8:where([dir=ltr],[dir=ltr] *) {
    padding-left: 0rem;
    /* padding-left: 2rem; disabel */
}

.min-w-0 {
    min-width: 75ch;
}
